@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=News+Cycle:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@font-face {
    font-family: Ezrademo;
    src: url(../public/assets/fonts/Ezrademo-JRrX7.otf);
    font-style: normal;
}

@font-face {
    font-family: FrontPage;
    src: url(../public/assets/fonts/FrontPageNews11-ADw6.ttf);
    font-style: normal;
}


body {
    margin: unset !important;
}

.nav-link {
    text-decoration: none !important;
}